<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <!-- Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- Google Maps -->
  <script type="text/javascript"
           src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body>
  <!-- ナビゲーション -->
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="nav-collapse collapse span11 offset1">
            <ul class="nav" href="#">
              <li><a class="brand" href="#">imadoco?</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid centering">
    <div class="row-fluid">
      <h2>Thank you!</h2>
      <p>位置情報をメール送信者へ通知しました。</p>
    </div>
  </div>

  <!-- Bootstrap -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>
</html>
